<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>example2</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.hibernate.controllerPKG.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Reviewer</display-name>
    <servlet-name>Reviewer</servlet-name>
    <servlet-class>com.hibernate.controllerPKG.Reviewer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reviewer</servlet-name>
    <url-pattern>/Reviewer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hibernate.controllerPKG.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieSearchServlet</display-name>
    <servlet-name>MovieSearchServlet</servlet-name>
    <servlet-class>com.hibernate.controllerPKG.MovieSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieSearchServlet</servlet-name>
    <url-pattern>/MovieSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>movieServlet</display-name>
    <servlet-name>movieServlet</servlet-name>
    <servlet-class>com.hibernate.controllerPKG.movieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>movieServlet</servlet-name>
    <url-pattern>/movieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingServlet</display-name>
    <servlet-name>RatingServlet</servlet-name>
    <servlet-class>com.hibernate.controllerPKG.RatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingServlet</servlet-name>
    <url-pattern>/RatingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displaymovie</display-name>
    <servlet-name>displaymovie</servlet-name>
    <servlet-class>com.hibernate.controllerPKG.displaymovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displaymovie</servlet-name>
    <url-pattern>/displaymovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aboutmovie</display-name>
    <servlet-name>aboutmovie</servlet-name>
    <servlet-class>com.hibernate.controllerPKG.aboutmovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aboutmovie</servlet-name>
    <url-pattern>/aboutmovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Toprated</display-name>
    <servlet-name>Toprated</servlet-name>
    <servlet-class>com.hibernate.controllerPKG.Toprated</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Toprated</servlet-name>
    <url-pattern>/Toprated</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AveragedMovieRatingServlet</display-name>
    <servlet-name>AveragedMovieRatingServlet</servlet-name>
    <servlet-class>com.hibernate.controllerPKG.AveragedMovieRatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AveragedMovieRatingServlet</servlet-name>
    <url-pattern>/AveragedMovieRatingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchprod</display-name>
    <servlet-name>searchprod</servlet-name>
    <servlet-class>com.hibernate.controllerPKG.searchprod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchprod</servlet-name>
    <url-pattern>/searchprod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewRelease</display-name>
    <servlet-name>NewRelease</servlet-name>
    <servlet-class>com.hibernate.controllerPKG.NewRelease</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRelease</servlet-name>
    <url-pattern>/NewRelease</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopRatedTvShows</display-name>
    <servlet-name>TopRatedTvShows</servlet-name>
    <servlet-class>com.hibernate.controllerPKG.TopRatedTvShows</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopRatedTvShows</servlet-name>
    <url-pattern>/TopRatedTvShows</url-pattern>
  </servlet-mapping>
</web-app>